{% extends "modelo.html" %}
{% block conteudo %}

<form>

  <div class="mb-3">

    <label for="inputTermo" class="form-label">Email address</label>
    <input type="text" class="form-control" id="termo" aria-describedby="termoHelp">
    <div id="emailHelp" class="form-text">Adicione o termo aqui</div>

  </div>

  <div class="mb-3">
    <label for="inputDescricao" class="form-label">Descrição</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>

</form>

{% endblock %}